{
  "extends": "eslint-config-egg/typescript",
  "rules": {
    "indent": "off",
    "@typescript-eslint/semi": ["off", "always"],
    "@typescript-eslint/no-unused-vars": 1,
    "comma-dangle": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}